<footer>

    <div class="container">

        <div class="footer-content">

            <h3 class="gold">

                RYGAR Technologies

            </h3>

            <br>

            <p>

                Engineering the Future with
                Embedded Systems,
                IoT & Automation.

            </p>

            <br>

            <p>

                Email:
                rygartechnologies@gmail.com

            </p>

            <p>

                Phone:
                +91 98410 17906

            </p>

            <br>

            <p>

                © 2026 RYGAR Technologies.
                All Rights Reserved.

            </p>

        </div>

    </div>

</footer>